RUN true \
    && apt update \
    && apt install -y \
        bash \
        nginx \
        supervisor \
        gcc \
    && pip install uwsgi==2.0.17.1 \
    && apt remove gcc -y \
    && apt autoremove -y \
    && apt clean